.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.pokemon-card {
  width: 300px;
}
